Variables.env
GraphCertificate.pfx
GraphCertificate.cer
Payroll/Worker.json
Payroll/PayrollEmployees.txt
MicrosoftGraph/Microsoft365User.json
20240131_AD_Without_PostalCode.csv
20240131_Salar_Retirados.csv
Payroll Microsoft 365 Diagram.pdf
